<div class="text-center">
    <h3>{{isInEditMode ? 'UpdateTodo ': 'Add Todo'}}</h3>
</div>

<div class="card">
    <div class="card-body">
        <form #todoForm="ngForm" (ngSubmit)="onTodoAdd()">
            <div class="form-group">
                <label for="todoItem">Todo Item</label>
                <input id="todoItem" ngModel name="todoItem" #todoItem="ngModel" type="text" class="form-control"
                    required>

                <strong class="text-danger" *ngIf="todoItem.touched && todoItem.hasError('required')">
                    TodoItem is required field!!!
                </strong>
            </div>

            <button mat-raised-button class="btn-block" 
            *ngIf="!isInEditMode"
            color="primary" [disabled]="todoForm.invalid">
                Add Todo
            </button>

            <button
            *ngIf="isInEditMode"
            (click)="onUpdate()"
            mat-raised-button class="btn-block" color="primary" type="button">
                Update Todo
            </button>
        </form>

    </div>
</div>